.App {
  text-align: center;
}

.profileContainer{
  margin-left: 18%;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

.profileContainer img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profileContainer img:hover{
  cursor: pointer;
  box-shadow: 2px 2px 2px grey;
}

.profileContainer h3{
  font-size: large;
  font-family: Poppins;
  color: rgb(86, 83, 87);
}